//imports
@import "../../styles/global/variables";

.search-container {
  margin-bottom: 5rem;
  h2 {
    margin-bottom: 2rem;
    color: #252733;
    font-size: 24px;
    font-weight: 700;

    span {
      font-weight: 500;
    }
  }
  .heading {
    display: flex;
    text-align: start;
    font-size: 20px;
    font-weight: 700;
  }
  .elements {
    text-align: start !important;
  }

  .steps-container {
    margin-bottom: 2.5rem;
    .step {
      &::before {
        background-color: white;
      }
      &::after {
        background-color: white;
      }
      &.step-primary::before {
        background-color: $accent;
      }
      &.step-primary::after {
        background-color: $accent;
      }
    }
  }

  .step-elements {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1.5rem;
    background-color: $white;
    padding: 2rem;
    border-radius: 10px;

    .elm {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      .last {
        padding-top: 130px;
      }

      .urlList {
        // border: 1px solid $dash;
        border: 3px solid #8b8b8b35;
        border-radius: 10px;
        padding: 1rem;
        max-height: 400px;
        min-height: 400px;
        overflow: auto;
        overflow-x: hidden;

        a {
          display: inline-block;
          margin: 0 0.5rem 0.5rem;
          background-color: $white;
          border: 3px solid #8b8b8b35;
          color: $accent;
          padding: 0 10px;
          border-radius: 10px;
          font-weight: 500;
          font-size: 15px;
          word-break: break-all;
        }
      }

      progress {
        margin: 0.5rem 0 !important;
      }
      .progress-status {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }

      .steps-actions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        margin-top: 0.5rem;
        button {
          background-color: $white;
          border: 3px solid #8b8b8b35;
          color: $dash;
          text-transform: capitalize;
        }
      }
    }
  }
}

.single-elements {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}

.step-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.analitycs-actions {
  background-color: $white;
  height: fit-content;
  padding: 2rem;
  border-radius: 10px;

  .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    div {
      h3 {
        font-weight: 700;
      }
    }
  }
}

.loading {
  .lorem {
    display: block;
    height: 1rem;
  }
}

.step3-details {
  background-color: $white;
  border: 3px solid #8b8b8b35;
  padding: 0 10px;
  border-radius: 10px;
  margin-bottom: 0.5rem;

  .collapse-title {
    padding: 0.5rem;
  }

  .collapse-title,
  :where(.collapse > input[type="checkbox"]) {
    min-height: 1.5rem !important;
  }

  p {
    font-size: 15px !important;
    word-break: break-all;
    font-weight: 500;
    color: $accent;
  }
}

.step3-data {
  .step3-divs {
    margin-top: 1rem;
    padding: 0 1rem;
    border-radius: 15px;

    &:hover {
      background-color: #7f76fc13;
    }

    h3 {
      font-size: 15px;
      font-weight: 700;
      text-decoration: underline;
    }
    p {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      font-size: 15px;
      color: #252733;
    }

    ul {
      padding-left: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      li {
        list-style: square;
      }
    }
  }
}

// select csv rows
.check-rows {
  margin: 2rem 0 0 0;
  .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    div {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
  button {
    margin: 1.5rem 0 0.5rem 0;
  }
}
